{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="card">
<div class="card-body">

<div class="row">
<div class='col-4'>
</div>
<div class='col-4'>
<h4 class="card-title">Log in to your account</h4>
<form method="post"  >
{% csrf_token %}
<input type="hidden" name="next" value="{{ next }}">
{{ form|crispy }}
 
    <br>
    <script src='https://www.google.com/recaptcha/api.js'></script>
    <div class="g-recaptcha" data-sitekey="6LerQMkUAAAAAEtNLxeo_b8t2UlA0hG5hXBWHww7"></div>
<button type="submit" class="btn btn-primary btn-block">Sign up</button>
</form>

</div>
<div class='col-4'>
 
</div>
</div>
</div>
</div>
{% endblock content %}

